<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-6">
        <h1 style="color: #000080"><strong>幻水総選挙2017 集計者用ページ</strong></h1>
        <p class="lead">
          <span style="color: #000080">集計者用ページへようこそ！</span>
        </p>
        <p>ごめんなさい、以下の点、時間取れ次第直したいです。</p>
        <p>・ページングは1ページ目からクリック経由でたどるしかない（直接URLを指定はできます）</p>
        <p>・検索結果のナンバリングが、「1から始まり」にリセットされる</p>
        <div class="list-group">
          <div class="list-group-item">
            <a href="https://drive.google.com/drive/folders/0B6h9PmbFuqbjbmY0S3BIYlFsWkk" target="_blank">集計用紙へ</a>（Google Drive）
          </div>
        </div>
      </div>
    </div>
    <%= image_tag 'suikoden_election_2017_header.jpg', size: '543x250', class: 'img-responsive img-rounded' %>
  </div>
</div>
