<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h2 id="nav-tabs">ツイート抽出条件</h2><br>
        <div class="bs-component">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#normal_vote" data-toggle="tab"><strong>#幻水総選挙2017投票</strong></a></li>
            <li><a href="#other_tag_vote" data-toggle="tab"><strong>#幻水総選挙2017</strong></a></li>
            <li><a href="#duplicated_vote" data-toggle="tab"><strong>複数票投票</strong></a></li>
            <li><a href="#all_vote" data-toggle="tab"><strong>全投票</strong></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="normal_vote">
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">リツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">削除済みツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text"><strong>@gensosenkyo</strong> によるツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">2017/06/16 20:45:00 ～ 2017/06/18 12:00:00 の期間のツイートを抽出</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">その中から <strong>#幻水総選挙2017投票</strong> を含むツイートを抽出</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="other_tag_vote">
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">リツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">削除済みツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text"><strong>@gensosenkyo</strong> によるツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">2017/06/16 20:45:00 ～ 2017/06/18 12:00:00 の期間のツイートを抽出</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">その中から <strong>#幻水総選挙2017</strong> の1つだけのハッシュタグを含むツイートを抽出</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="duplicated_vote">
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">リツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">削除済みツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text"><strong>@gensosenkyo</strong> によるツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">2017/06/16 20:45:00 ～ 2017/06/18 12:00:00 の期間のツイートを抽出</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">その中から <strong>#幻水総選挙2017投票</strong> または <strong>#幻水総選挙2017</strong> を含むツイートを抽出</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">上記ツイート中、同一の人がツイートしているツイートを抽出</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="all_vote">
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">リツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">削除済みツイートは除外</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text">期間は限定しない（理論上は今も増え続けている）</p>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text"><strong>#幻水総選挙2017投票</strong> または <strong>#幻水総選挙2017</strong> または <strong>#幻水総選挙</strong> または <strong>#幻水総選挙運動</strong> を含むツイートを抽出</p>
                </div>
              </div>
            </div>
          </div><!-- tab-content -->
        </div>
      </div>
    </div>
  </div>
</div>