<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1><strong>#幻水総選挙2017投票 のツイート（投票期間内）</strong></h1><br>
        <% @tweets = @kaminaried_tweets %>
        <%= render 'show_tweets_panel' %>
      </div>
    </div>
  </div>
  <%= paginate @kaminaried_tweets %>
</div>
