<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1><strong>幻水総選挙2017 集計所</strong></h1><br>
        <p class="lead">
          <strong>総投票数＆総投票人数（確定）</strong>
        </p>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">総投票数 <strong>4739</strong> 票</h3>
          </div>
          <div class="panel-body">
            ハッシュタグ投票 / 4199 票
            <br>
            DM投票 / 540 票
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">総投票人数 <strong>1607</strong> 人</h3>
          </div>
          <div class="panel-body">
            ハッシュタグ投票 / 1427 人
            <br>
            DM投票 / 180 人
          </div>
        </div>
      </div>
    </div>
    <strong>ご参加ありがとうございました！</strong>
    <br><br>
    <%= image_tag 'suikoden_election_2017_header.jpg', size: '543x250', class: 'img-responsive img-rounded' %>
  </div>
</div>
