<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1><strong>幻水総選挙2017 集計所</strong></h1><br>
        <p class="lead">
          投票数: <%= "#{@vote_amount} 票" %>（DM投票等は除く）
        </p>
      </div>
    </div>
    <%= image_tag 'suikoden_election_2017_header.jpg', size: '543x250', class: 'img-responsive img-rounded' %>
  </div>
</div>
