<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1><strong>Thanks</strong></h1><br>
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>参加してくれたすべての皆さま</strong>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>キネコさん / <a href="https://twitter.com/kineko_27" target="_blank">@kineko_27</a></strong>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>もふさん / <a href="https://twitter.com/mofu_hsb" target="_blank">@mofu_hsb</a></strong>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>サイト制作に用いたすべてのソフトウェアの開発者の皆さま</strong>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>and...me (gregminster@obel.sakura.ne.jp)</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
