<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1><strong>Thanks</strong></h1><br>
        <div class="panel panel-default">
          <div class="panel-body">
            ­ЪЎЈ­ЪЈ╗тЈѓтіасЂЌсЂдсЂЈсѓїсЂЪсЂЎсЂ╣сЂдсЂ«уџєсЂЋсЂЙ­ЪЎЈ­ЪЈ╗
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            ­ЪЎЈ­ЪЈ╗сѓГсЃЇсѓ│сЂЋсѓЊ / <a href="https://twitter.com/kineko_27" target="_blank">@kineko_27</a>­ЪЎЈ­ЪЈ╗
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            ­ЪЎЈ­ЪЈ╗сѓѓсЂхсЂЋсѓЊ / <a href="https://twitter.com/mofu_hsb­ЪЎЈ­ЪЈ╗" target="_blank">@mofu_hsb­ЪЎЈ­ЪЈ╗</a>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            ­ЪЎЈ­ЪЈ╗сѓисѓ╣сЃєсЃаТДІу»ЅсЂФућесЂёсЂЪтЁесЂдсЂ«сѓйсЃЋсЃѕсѓдсѓДсѓбсЂ«жќІуЎ║УђЁсЂ«уџєсЂЋсЂЙ­ЪЎЈ­ЪЈ╗
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
