<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1><strong>投票方法</strong></h1><br>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">幻水総選挙って？</h3>
          </div>
          <div class="panel-body">
            <%= link_to "http://twpf.jp/gensosenkyo" %>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">今年の詳細</h3>
          </div>
          <div class="panel-body">
            <%= link_to "http://togetter.com/li/1112293" %>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">ハッシュタグ</h3>
          </div>
          <div class="panel-body">
            投票 -----> <strong>#幻水総選挙2017投票</strong>
            <br>
            選挙活動 -----> <strong>#幻水総選挙運動</strong>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">質問等</h3>
          </div>
          <div class="panel-body">
            リプかDMどうぞ（鍵付きはDMで）
            <br>
            ※公式サイト・アプリ使用推奨
          </div>
        </div>
      </div>
    </div>
  </div>
</div>