<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1><strong>投票チェック結果</strong></h1>
        <div class="alert alert-dismissible alert-danger">
          <strong>※現在は削除されたツイートも表示されます。</strong>
          <br>
          <strong>※チェックができるのはツイート（呟き）での投票のみです。</strong>
          <br>
          <strong>※チェック結果が出ない場合、集計に反映されない可能性があります。投票内容を書いて <%= link_to "@geneosenkyo", "https://twitter.com/gensosenkyo" %> までリプかDMでご連絡ください。</strong>
        </div>
        <%= "<strong>チェック結果は 0 件でした。</strong>".html_safe if @result_tweets.empty? %>
        <% @tweets = @result_tweets %>
        <%= render 'show_tweets_panel' %>
      </div>
    </div>
  </div>
</div>
