        <% @tweets.each do |tweet| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= link_to image_tag(tweet.profile_image_uri), "https://twitter.com/#{tweet.screen_name}" %>
                &nbsp;
                <%= link_to "#{tweet.name} / @#{tweet.screen_name}", "https://twitter.com/#{tweet.screen_name}" %>
              </h3>
            </div>
            <div class="panel-body">
              <% tweet_text = tweet.text.gsub(/https:\/\/t\.co\/[0-9a-zA-Z]{10}/, "") %>
              <%=simple_format(h(tweet_text)) %>
              <% tweeted_at_in_jp = tweet.tweeted_at.strftime("%Y/%m/%d（#{%w(日 月 火 水 木 金 土)[tweet.tweeted_at.wday]}）%H:%M:%S") %>
              <% source_tweet_message = tweet.is_attached_image? ? "#{tweeted_at_in_jp}（添付画像あり）" : tweeted_at_in_jp %>
              <%= link_to source_tweet_message, "#{tweet.uri}" %>
            </div>
          </div>
        <% end %>
